/*Estilos Botones*/

.estiloBoton1{
    font-family: "fuente1";
    padding: 10px 10px;
    border: unset;
    border-radius: 15px;
    color: $colorfondo;
    background: $colorPrimario;
    font-size: 10px;
    cursor: pointer;
}
.estiloBoton2{
    text-decoration: none;
    text-decoration-style: none;
    font-family: "fuente1";
    padding: 10px 10px;
    border: unset;
    border-radius: 15px;
    color: $colorfondo;
    background: $colorPrimario;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
}
.estiloBoton3{
    padding: map-get($boton , pading );
    border-radius: map-get($boton , bordes );
    background-color: map-get($boton , colorFondo );
    border-color: map-get($boton , colorBorde );
}
.btn{
    margin: 5px;
}