/* Fuentes */

@font-face {
    font-family: "fuente1";
    src: url(../fuentes/sf-compact-display-medium.otf);
}
@font-face {
    font-family: "fuente2";
    src: url(../fuentes/sf-compact-display-thin.otf);
}

/*Estilo letras*/

.estilo1{
    font-family: "fuente2";
    color: #f6f6f6;
    font-size: 43px;
}
.estilo2{
    font-family: "fuente1";
    color: #ffcb74;
    font-size: 43px;
}
.estilo3{
    font-family: "fuente2";
    color: #f6f6f6;
}
.estilo4{
    font-family: "fuente1";
    font-size: 30px;
    color: #f6f6f6;
}
.estilo5{
    color: #ffcb74;
    font-family: "fuente2";
    font-size: 25px;
}
.estilo7{
    color: #ffcb74;
    font-family: "fuente1";
    font-size: 50px;
}
.estilo8{
    color: #f6f6f6;
    font-family: "fuente2";
    font-size: 30px;
}
.estilo9{
    color: #f6f6f6;
    font-family: "fuente2";
}
.estilo10{
    color: #f6f6f6;
    font-family: "fuente2";
    text-decoration: none;
}
