/*Estilos main*/

.contenidoPrincipal{
    grid-area: info;
    section div button a{
        text-decoration: none;
    }
    .posicionBoton{
        text-align: center;
        margin-top: 50px;
        button{
            @extend .estiloBoton3
        }
    }
    .info2{
        @include propiedadesInfo (rgba(55, 55, 55, 0.04),flex,space-between,center,30px,30px);
        .info2Posicion{
            display: flex;
            flex-direction: column;
            align-items: center;
            .info2Img{
                height: 30px;
                width: 30px;
            }
        }
    }
    .tituloCaja{
        text-align: center;
        justify-content: center;
    }
    .cajas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .caja{
        width: 350px;
        height: 300px;
        background-color: $colorFormularios;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 20px;
    }
    .descripcionCombo{
        font-family: "fuente3";
        color: $colorPrimario;
        font-size: 20px;
        text-align: center;
    }
    .precioCombo{
        font-family: "fuente2";
        color: $colorSecundario;
        font-size: 20px;
        text-align: center;
    }
    .comboTamaño{
        width: 100%;
        margin: 10px;
    }
    .comboTamaño:hover{
        margin: 20px;
        transform: scale(1.1);
        transition: 1s;
    }
    h1{
        margin-top: 20px;
    }
}

/* Main Carta */

.carta{
    h1{
        margin-top: 20px;
    }
    grid-area: carta;
    .tituloCaja{
        text-align: center;
        justify-content: center;
    }
    .cajas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        .caja{
            width: 350px;
            height: 300px;
            background-color: $colorFormularios;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin: 20px;
            .descripcionCombo{
                font-family: "fuente3";
                color: $colorPrimario;
                font-size: 20px;
                text-align: center;
            }
            .precioCombo{
                font-family: "fuente2";
                color: $colorSecundario;
                font-size: 20px;
                text-align: center;
            }
            .comboTamaño{
                width: 100%;
                margin: 10px;
                &:hover{
                    margin: 20px;
                    transform: scale(1.1);
                    transition: 1s;
                }
            }
        }
    }
}

/* Main Contacto */

.cajaFormulario{
    grid-area: form;
    width: 100%;
    display: flex;
    justify-content: center;
    .cajaFormulario-texto{
        width: 600px;
        h1{
            font-weight: 1000;
            margin-bottom: 0;
        }
        h2{
            font-weight: 1000;
            margin-bottom: 0;
        }
    }
    .formulario{
        width: 500px;
        height: 490px;
        background-color: $colorFormularios;
        text-align: center;
        border-radius: 30px;
        h3{
            font-weight: 1000;
            margin-bottom: 0;    
        }
        textarea{
            height: 100px;
        }
        .formularioOrden{
            display: flex;
            flex-direction: column;
            padding: 20px;
            textarea{
                resize: none;
                border-radius: 8px;
                margin: 5px;
            }
            input[type="submit"]{
                cursor: pointer;
            }
            input[type="reset"]{
                cursor: pointer;
            }
        }
    }
}

/* Main Trabaja con nosotros */

.cajaFormulario2{
    grid-area: trabaja;
    width: 100%;
    display: flex;
    justify-content: center;
    .cajaFormulario-texto{
        width: 600px;
        h1{
            font-weight: 1000;
            margin-bottom: 0;
        }
        h2{
            font-weight: 1000;
            margin-bottom: 0;
        }
    }
    .formulario2{
        width: 500px;
        height: 550px;
        background-color: $colorFormularios;
        text-align: center;
        border-radius: 30px;
        h3{
            font-weight: 1000;
            margin-bottom: 0;    
        }
        .formularioOrden{
            display: flex;
            flex-direction: column;
            padding: 20px;
            input{
                width: 100%;
            }
            textarea{
                height: 100px;
                border-radius: 8px;
                margin: 5px;
            }
        }
    }
}

/* Main Sucursales*/

.tamañoSucursales{
    width: 100%;
    .sucursales{
        width: 100%;
        height: 700px;
        background-color: $colorFormularios;
        border-radius: 30px;
        text-align: center;
        padding: 10px;
        margin: 10px;
        button a{
            text-decoration: none;
            color: black;
        }
    }
}