$boton:(
    pading:5px 25px,
    bordes:15px,
    colorFondo:#ffcc7400,
    colorBorde:#f6f6f6,
);
$colorfondo: #111111;
$colorPrimario: #f6f6f6;
$colorSecundario: #ffcb74;
$colorTerciario: #111111;
$colorFormularios: #37373713 ;