$boton:(
    pading:5px 25px,
    bordes:15px,
    colorFondo:#ffcc7400,
    colorBorde:#f6f6f6,
);
@mixin  propiedadesInfo ($bg-color,$display,$justificado,$alineamiento,$padding,$margenSuperior){
    background-color: $bg-color;
    display: $display;
    justify-content: $justificado;
    align-items: $alineamiento;
    padding: $padding;
    margin-bottom: $margenSuperior;
}
$colorfondo: #111111;