*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_variables";
@import "_generales";
@import "_mixin";
@import "_botones";
@import "_grillas";
@import "_fuentes";
@import "_nav";
@import "_header";
@import "_main";
@import "_footer";
@import "_mobile";






